{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],

  "plugins": ["react", "react-hooks", "jsx-a11y"],
  "rules": {
    "strict": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": 0,
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "react/state-in-constructor": 0,
    "react/button-has-type": 0,
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": [
          "src/test/**/*.js",
          "**/*.{spec,test}.js",
          "setupTests.js"
        ],
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
