$mainFontFamily: 'Poppins', sans-serif;
$fontLight: 300;
$fontNormal: 400;
$fontSemiBold: 700;
$bold: 800;
$blackBold: 900;

$seconfFontFamily: 'Oswald', sans-serif;
$oswaldMedium: 500;
$oswaldSemiBold: 600;
$oswaldBold: 700;
/*COLORS*/
$mainGreyColor: #3c3c3c;
$mainBlackColor: #000;
$mainWhiteColor: #fff;
$mediumGreyColor: #cccccc;
$mainTextColor: rgba(0, 0, 0, 0.65);
$lightGreyColor: #f1f1f1;

// Teamdeville colors
$bodyBcgColorGrey: #fdfdfd;
$darkOrange: #bd512f;
$redColor: #ee393d;
$pastelYellow: #ffdd67;
$lightYellow: #f9e090;
$semiGrey: #393e46;
$navyGrey: #222831;
$lightGrey: #e9e5dd;
$darkGrey: #212121;

$basic-font-size: 1.3rem;
$basic-line-height: 1.42857;
$dark-links: #222;
$dark-grey: #555;
$light-grey: #fbfbfb;
$medium-grey: #e2e2e2;

$shadow-color: rgba(204, 204, 204, 0.7);
$lightGrey: #e4e4e4;
$middleGrey: #5a5a5a;

$assetPath: '/images';
